.switchTitle {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.switchTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switchTitleAndIcons {
  display: flex;
  align-items: center;
}

.iconsContainer {
  display: flex;
}

.icon {
  width: 40px;
}

.headerPopup {
  width: 75%;
  margin: 0 auto;
}

.headerPopup iframe {
  width: 100%;
  margin: 0 auto;
}
