.skillListsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.skillList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category {
  white-space: nowrap;
  color: black;
  font-family: 'Inconsolata';
  font-size: 20px;
}
