@keyframes moveX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100vw - 100%));
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100vh - 100%));
  }
}

@keyframes grid {
  100% {
    transform: translateY(calc(100vh));
  }
}

.item {
  transition: transform 2s ease-in;
  background-color: rgb(97, 154, 154);
}
.animateMoveX {
  animation: moveX var(--x-speed) linear infinite alternate;
  position: absolute;
  top: 0;
  left: 0;
}

.animatedElement {
  position: absolute;
  animation: moveY var(--y-speed) linear infinite alternate;
}

.paused {
  animation-play-state: paused;
}

@keyframes testmove {
  100% {
    top: var(--y-diff);
    left: var(--x-diff);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-pale {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.testanimatedelement {
  animation: testmove 0.7s ease-in, fade-out 0.5s linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0ms, 2s;
}

.iconFadeOut {
  animation: wiggle 0.2s ease-in-out infinite, fade-out 0.2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0ms, 0.7s;
}

.grid {
  opacity: 0;
}

.gridFadeIn {
  animation: fade-in 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.gridFadeToPale {
  animation: fade-pale 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.testpaused {
  animation-play-state: paused;
}

.tool {
  opacity: 0; /* Initially invisible */
  filter: blur(10px); /* Initially blurred */
  transition: opacity 1s ease-in, filter 1s ease-in; /* Transition for opacity and blur */
}

.tool.fadeIn {
  opacity: 1; /* Fully visible */
  filter: blur(0); /* No blur */
}

.tool.fadeOut {
  opacity: 0; /* Invisible */
  filter: blur(10px); /* Blurred */
}

.categories {
  opacity: 0;
}

.categories.fadeIn {
  animation: fade-in 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

/* .category {
  position: relative;
  display: inline-block;
  border: 1px solid #b17461;
  background-image: radial-gradient(circle, #b17461, #b17461);
  background-color: #b17461;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  border-radius: 20px;
  transition: background-size 4s, color 0.5s;
}

.category:hover {
  background-size: 100% 100%;
} */

.category {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.category::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 300%;
  background-color: var(--light-blue);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s;
  z-index: 0;
}

.category.selected::before {
  transform: translate(-50%, -50%) scale(1);
}

.category span {
  position: relative;
  z-index: 1;
}
