.skillItem {
  padding: 0.4rem 0.5rem;
  border-radius: 0.75rem;
  font-size: smaller;
  color: white;

  &.languages {
    background-color: var(--languages);
  }
  &.librariesAndFrameworks {
    background-color: var(--libraries-and-frameworks);
  }
  &.data {
    background-color: var(--data);
  }
  &.other {
    background-color: var(--other);
  }
}
