@font-face {
  font-family: 'primary-fun';
  src: url('../fonts/girls-are-weird.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gamour';
  src: url('../fonts/Gamour/Gamour Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simply-rounded';
  src: url('../fonts/SimplyRounded/Simply Rounded.ttf');
  font-weight: normal;
  font-style: normal;
}

.header-font {
  font-family: 'simply-rounded';
  transition: color 0.2s ease;
}

.header-font:hover {
  color: #b15ad1;
}

.primary-fun-font {
  font-family: 'primary-fun';
}

.primary-clean-font {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.color-change {
  color: blue; /* Initial text color */
  transition: color 0.3s ease; /* Smooth transition on hover */

  /* Animation */
  animation-name: colorAnimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes colorAnimation {
  0% {
    color: blue;
  }
  25% {
    color: red;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}

.color-change:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

a {
  text-decoration: none;
  color: #414557;
}

body {
  background-color: #fffaf5;
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
} */

/* * {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
