@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOURS */
:root {
  --background: white;
  --header-1: #ba506c;
  --skills-bubble: #fafad3;
  --active-1: #ed6864;
  --dark-text: #414558;
  --employer-blue: #377acc;
  --employee-burnt-orange: #d98750;
  --switch-orange: #ff5c4a;

  --dark-red: #bd261b;
  --medium-blue: #0679f5;
  --light-blue: #46bcfe;
  --green: #25b264;
  --orange: #f47d11;
  --purple: #9847d4;
  --yellow: #fecb00;
  --pale-yellow: #f8fae3;
  --grey: #a8a8a8;

  --languages: #bd0000;
  --libraries-and-frameworks: #0000ff;
  --data: #8a00da;
  --other: rgb(0, 124, 41);

  --placeholder: #777c99;
  --white: #ffffff;
}

/* FONTS */
@font-face {
  font-family: 'primary-fun';
  src: url('../fonts/girls-are-weird.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gamour';
  src: url('../fonts/Gamour/Gamour Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simply-rounded';
  src: url('../fonts/SimplyRounded/Simply Rounded.ttf');
  font-weight: normal;
  font-style: normal;
}

.primary-fun-font {
  font-family: 'primary-fun';
}

a {
  text-decoration: none;
  color: var(--dark-text);
}

body {
  background-color: var(--background);
}

button {
  border: none;
  background: none;
}

.input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  background: var(--pale-yellow);
  vertical-align: top;
}

.input:focus {
  outline: none;
}

.inline-link {
  color: var(--orange);
}

.greyText {
  color: var(--grey);
}

.dateText {
  margin-left: 2rem;
  color: var(--grey);
}

h2,
h3 {
  font-weight: 400;
}
